html, body { width: 100%; height: 100%; }
body { margin: 0; padding: 0; }
#map { width: 100%; height: 100%; }

.mapboxgl-ctrl-bottom-left,
.mapboxgl-ctrl-bottom-right {
  display: none;
}

.card {
  width: 150px;
  height: 200px;
  border: 1px solid black;
  display: inline-block;
  margin: 10px;
  text-align: center;
}

.header img {
  display: block;
  margin: 0 auto;
}

.name {
  font-size: 20px;
  margin: 20px;
}

.footer {
  margin: 20px;
}